body {
    max-width: 1896px;
    max-height: 1073px;
}
section {
    padding: 0 20%;
    text-align: center;
}

.img-section {
    column-count: 4;
    column-gap: 12px;
    padding: 60px 10%;
}

.img-section img {
    width: 100%;
    margin-bottom: 12px;
}